body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.content{
    background-color: rgb(246, 220, 25);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSlider{
    height: 400px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.257);
}
.slide{
    width: 100%;
    height: 100%;
    display: none;
}
.active{
    display: block;
}
.arrows{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 210px;
}
.moveLeft, .moveRight{
    color: white;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.moveLeft:hover, .moveRight:hover{
    background-color: rgba(0,0,0,0.2);
}